.scroll.container {
    position: fixed;
    bottom: 75px;
    left: 50%;
    transform: translateX(+51%);
    height: 70px;
}

.scroll-link {
    background-color: var(--accent-color);
    width: 60px;
    height: 60px;
    border: 4px solid var(--second-accent-color);
    box-shadow: 0px 0px 15px rgba(37, 38, 48, 0.82);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    animation-name: scroll-rotate;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.52, 0.8, 0.54, 0.26);
    animation-iteration-count: infinite;
}

@keyframes scroll-rotate {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(360deg);
    }

    66% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.scroll-link:hover,
.scroll-link:hover {
    background-color: var(--hover);
}

.scroll-icon {
    transform: translateY(-7%);
    fill: var(--second-accent-color);
}