.article-section {
    padding: 25px 0 94px;
}

.article-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
}

.article-item {
    flex-basis: calc((100% - 60px) / 3);
}

.article-link {
    transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.article-link:hover,
.article-link:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    display: block;
}

.container-article {
    border-bottom: 1px solid var(--frame-color, #eee);
    border-right: 1px solid var(--frame-color, #eee);
    border-left: 1px solid var(--frame-color, #eee);
    padding: 20px 24px;
}

.photo-container {
    overflow: hidden;
    height: 294px;
    position: relative;
}

.article-photo {
    width: 100%;
    height: 294px;
}

.overlay {
    background-color: var(--portfolio-cards-bg);
    padding: 63px 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(+101%);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.article-link:hover .overlay {
    transform: translateY(0%);
}

.article-link:focus .overlay {
    transform: translateY(0%);
}

.overlay-text {
    color: var(--second-accent-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
}

.article-title {
    color: var(--title-color, #212121);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

.article-desc {
    color: var(--text-color, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}